.radio-section {
	width: 100%;
	display: flex;
	height: fit-content;
	align-items: center;
	gap: 10px;
}
.radio-container {
	display: flex;
	height: fit-content;
	align-items: center;
}

.accent {
	accent-color: #cc30b5;
	width: 15px;
	height: 15px;
}
