.tag-container {
	position: sticky;
	top: 100px;
	height: fit-content;
	box-shadow: 0 1px 2px 0 #c2c2c2;
	padding: 20px;
	border-radius: 8px;
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}
.tag-item {
	width: fit-content;
	height: fit-content;
	padding: 4px 10px;
	border-radius: 4px;
	color: #9ca3af;
	border: 0.5px solid #9ca3af;
}
