.position-container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.position-scroll-box {
	width: 400px;
	height: 360px;
	box-shadow: 0 1px 1px rgba(9, 30, 66, 0.25), 0 0 1px 0 rgba(9, 30, 66, 0.31);
	overflow-y: scroll;
	padding: 20px;
	border-radius: 8px;
}
.position-grid-box {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 16px;
}
.position-grid-col {
	position: relative;
	height: 120px;
	cursor: pointer;
	border-radius: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	box-shadow: 0 1px 1px rgba(9, 30, 66, 0.25), 0 0 1px 0 rgba(9, 30, 66, 0.31);
	&:hover {
		transition: all 0.3s;
		box-shadow: 0 8px 16px -4px rgba(9, 30, 66, 0.25),
			0 0 1px rgba(9, 30, 66, 0.31);
	}
}
.position-box {
	position: fixed;
	width: 100px;
	border-radius: 8px;
	height: 40px;

	transition: all 0.3s;
	background-color: rgb(39, 119, 210);
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	opacity: 0;
	//&:hover {
	//	opacity: 1;
	//}
}

.tailwindContinaer {
	margin: 0 auto;
	max-width: 400px;
	padding: 40px;
	box-shadow: 0 1px 1px rgba(9, 30, 66, 0.25), 0 0 1px 0 rgba(9, 30, 66, 0.31);
}
.tailwindRelative {
	position: relative;
	display: inline-block;
	border: 3px solid;
}
.tailwindbtn {
	box-shadow: 0 1px 1px rgba(9, 30, 66, 0.25), 0 0 1px 0 rgba(9, 30, 66, 0.31);
	padding: 12px;
	border-radius: 8px;
}
.tailwindVisible {
	//className="invisible group-hover:visible opacity-0 group-hover:opacity-100 transition bg-blue-500 text-white p-1 rounded
	//absolute top-full mt-2 whitespace-nowrap"
	position: fixed;
	width: 100px;
	border-radius: 8px;
	height: 40px;

	transition: all 0.3s;
	background-color: rgb(39, 119, 210);
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
