@keyframes bounce {
	0%,
	100% {
		transform: translateY(-25%);
		animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
	}
	50% {
		transform: translateY(0);
		animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
	}
}
.bounce-wrapper {
	width: fit-content;
	padding: 4px 10px;
	color: #fff;
	background-color: #334155;
	border-radius: 8px;
	animation: bounce 1s infinite;
	filter: drop-shadow(0 1px 1px #334155);
}
